{% extends 'base_front.html.twig' %}


{% block title %} Modification du compte {% endblock  %}
{% block body %}

    <div class=" text-center d-flex justify-content-center formRegister">
        <div>

        </div>
        <div class="form col-sm-10 col-md-8 col-lg-6">
            <h1 class="text-white"> Modifications du compte</h1>
            <fieldset class="border m-3 p-3 bg-light"  >
                {{form_start(updateProfile, {'attr' : { 'novalidate' : 'true'}}) }}

                {{ form_row(updateProfile.username,   {'attr' : { 'placeholder' : "pseudo utilisateur"}, 'label': 'Pseudo'}  ) }}
                {{ form_row(updateProfile.email, {'attr' : { 'placeholder' : "monadress@mail.com"}, 'label': 'Adresse email'}) }}
                {{ form_row(updateProfile.city,   {'attr' : { 'placeholder' : "ville"}, 'label': 'Ville'} ) }}
                {{ form_row(updateProfile.zipcode,   {'attr' : { 'placeholder' : "42..."}, 'label': 'Code postal'} ) }}
                {{ form_row(updateProfile.category, { 'label' : 'Catégorie'}) }}
                {{ form_row(updateProfile.phone, {'label': 'Numéro de téléphone'}) }}
                {{ form_row(updateProfile.description, {'attr' : {'paceholder' : "Ma description"}}) }}
                <hr>
                {{ form_row(updateProfile.profilPicture, {'label' : 'Image de profil'}) }}



                <button type="submit" class="btn btn-outline-success "> Valider </button>
                {{form_end(updateProfile)}}
            </fieldset>
        </div>
    </div> 

{% endblock  %}