{% extends 'base_front.html.twig' %}


{% block title %}OuiCustOm : Mon compte{% endblock %}

{% block body %}

    <div class="container-fluid artistbanner mb-5 d-flex align-items-center d-flex justify-content-center">
	    <h1>Mon compte</h1>
    </div>

    <div class="container">

        <div class="row w-100">
            
            <div class="d-flex justify-content-center col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card cardArtistView" style="width: 18rem;">
                    <img src="{{ asset('img/messagery.jpg') }}" alt="Card image cap">
                    <div class="card-body">

                        <a href="{{ path('messagingPage') }}" class="btn btn-outline-light">Accès messagerie</a>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card cardArtistView" style="width: 18rem;">
                    <img src="{{ asset('img/gallery.jpg') }}" alt="Card image cap">
                    <div class="card-body">

                        <a href="{{ path('gallery', {'id': app.user.id}) }}" class="btn btn-outline-light">Accès Gallerie</a>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card cardArtistView" style="width: 18rem;">
                    <img src="{{ asset('img/demand_list.jpg') }}" alt="Card image cap">
                    <div class="card-body">

                        <a href="{{ path('custom_request_list') }}" class="btn btn-outline-light">Liste des demandes</a>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card cardArtistView" style="width: 18rem;">
                    <img src="{{ asset('img/offer.jpg') }}" alt="Card image cap">
                    <div class="card-body">

                        <a href="#" class="btn btn-outline-light">Poster une offre</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-5 mb-md-3 mb-sm-3 bg-white rounded border">
                <div class="artisteprofile">
                    <h5 class="pt-2">Mon profil :</h5>

                    <p>{{ app.user.username }}</p>
                    <p>{{ app.user.email }}</p>
                    <p>{{ app.user.phone }}</p>
                    <p>{{ app.user.city }} {{ app.user.zipcode }}</p>
                    <p>{{ app.user.category }}</p>

                    <a class="btn btn-outline-dark mb-3" href="{{ path('updateProfile') }}"> Modifier mon profil</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-3" id="profilimg">
                <div class="bg-white rounded border">
                    <!--récupère le lien de le chemin de l'image dans le dossier et renvoi sur le dossier public-->
                    <img src="{{ asset('uploads/profilPictures/' ~ app.user.profilPicture ) | imagine_filter('my_thumb' )}}" alt="photo d'utilisateur" class="card-img-top mb-2">
                    <a href="{{ path('updateProfile') }}" class="btn btn-outline-dark sticky-bottom mt-3 mb-3">Changer ma photo</a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 bg-white rounded border p-2 mb-5" id="presentation">
                <h6>Ma présentation</h6>
                <p>{{ app.user.description }}</p>
                <a href="{{ path('updateProfile') }}" class="btn btn-outline-dark sticky-bottom">Modifier ma présentation</a>
            </div>
        </div> 
    </div>

{% endblock %}
