{% extends 'base_front.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}




    <!--MAIN-->
    <div class="container-fluid" id="bloc_page_messaging">
        <h1 class="pt-5 pb-5">Messagerie</h1>
        <div class="row">

            <div class="col-12 col-md-4 offset-md-1 pb-4">
                <!--Bloc contenant la liste des contactes-->
                <div class="bloc_list_contact pt-3 mt-3"">
                    {#<h2>Liste des conversations</h2>#}
                    <!--Bloc conversation-->
                    {% for c in conversations %}
                        <div class="bloc_contact mt-3 mx-auto {% if conversationSelected is defined and conversationSelected is not null and c.id == conversationSelected.id %} bloc_contact_selected {% endif %}">

                            {# une conversation a 2 utilisateurs, on recherche qui est le destinataire par rapport à l'utilisateur connecté #}
                            {% if c.users[0].id == app.user.id %}
                                {% set idRecipient = 1 %}
                            {% else %}
                                {% set idRecipient = 0 %}
                            {% endif %}

                            {% if c.customRequest is defined and c.customRequest is not null %}
                            {# la convesation concerne une demande de customisation de la part d'un particulier #}
                                <a href="{{ path('messagingPageConversation', {id: c.id}) }}">
                                    {{ c.users[idRecipient].username }}
                                    <br>
                                    {{ c.customRequest.title }}
                                    {% if c.customRequest.photoPath is defined and c.customRequest.photoPath is not null and c.customRequest.photoPath != '' %}
                                        <img  class="conversation_image" src="{{ asset('uploads/customRequestPictures/' ~ c.customRequest.photoPath) }}" alt="photo de l'objet à customiser" class="img-responsive">
                                    {% endif %}
                                </a>

                            {% else %}
                            {# conversation entre 2 utilisateurs qui ne concerne pas une demande de customisation particulière  #}
                                <a href="{{ path('messagingPageConversation', {id: c.id}) }}">
                                    {{ c.users[idRecipient].username }}
                                    {% if c.users[idRecipient].profilPicture is defined and c.users[idRecipient].profilPicture is not null %}

                                        <img  class="conversation_image" src="{{ asset('uploads/profilPictures/' ~ c.users[idRecipient].profilPicture) }}" alt="photo de profil de l'artiste" class="img-responsive">
                                    {% endif %}
                                </a>
                            {% endif %}

                        </div>
                    {%  endfor %}
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 pb-4">
                <!--Bloc de la liste des messages-->
                <div class="col-12 bloc_list_message pt-3 mt-3 rounded" id="listemessages">
                    {#<h2>Liste des messages</h2>#}
                    <!--Bloc message-->
                    <div class="bloc_message mt-3 mx-auto">
                        <!--Bannière message-->
                        {% if conversationSelected is defined and conversationSelected is not null and conversationSelected.messages is defined and conversationSelected.messages is not null %}
                            {% for m in conversationSelected.messages %}
                                <div>
                                    <div class="container-fluid bg-white {% if m.author.id == app.user.id %} message_sent {% else %} message_received {% endif %}">
                                        {#<span class="interlocutor">Interlocuteur</span>#}
                                        {{ m.creationDate|date("d/m/Y H:i") }}
                                    </div>
                                    <!--Message-->
                                    <div>
                                        <p class="">
                                            <p class="{% if m.author.id == app.user.id %} message_sent {% else %} message_received {% endif %}">{{ m.content }}</p>
                                        </p>
                                    </div>
                                </div>
                            {%  endfor %}
                        {% endif %}

                        <div class="container-fluid mt-5">
                            <form method="POST">
                                 {#{{ form(formMessage) }}#}
                            </form>
                        </div>
                    </div>
                    <!--Bloc envoi nouveau message-->
                    <div class="bloc_new_message mt-3 mx-auto">
                        <div class="container-fluid mt-3">
                            {% if conversationSelected is defined and conversationSelected is not null %}
                                {{ form_start(formMessage, {'action': path('messagingSendMessage', {'id': conversationSelected.id} ), 'method': 'POST'}) }}
                            {% else %}
                                {{ form_start(formMessage, {'action': path('messagingPage' ), 'method': 'POST'}) }}
                            {% endif %}

                                <div>
                                    {{ form_row(formMessage._content) }}
                                    {#<textarea class="form-control message_response" rows="2"></textarea>#}
                                </div>
                                <div>
                                    {{ form_row(formMessage.submit) }}
                                    {#<button type="button" class="btn btn-sm mt-3 sending_message_button">Envoyer</button>#}
                                </div>
                            {{ form_end(formMessage) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <P class="pb-4" id="my_space_link">
            <a href="#" class="badge badge-pill badge-dark p-3">Retour à l'espace personnel</a>
        </p>
    </div>


{% endblock %}

 {% block javascripts %}
     <script type="text/javascript">
         var objDiv = document.getElementById("listemessages");
         objDiv.scrollTop = objDiv.scrollHeight;
     </script>
 {% endblock %}