{% extends 'base_front.html.twig' %}


{% block title %}OuiCustOm : Profil de {{ user.username }}{% endblock %}

{% block body %}

    <div class="container-fluid artistbanner mb-5 d-flex align-items-center d-flex justify-content-center">
        <h1>Page de {{user.username }}</h1>
    </div>
    <div class="main_section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 infoprofil"><span class="OCO"></span>

                    <div class="col-12 offset-md-3 col-md-6 rounded  float-left"><p class=" rounded p-2">{{user.username }}</p></div>
                    <div class="col-12 col-md-5 rounded  float-left"><p class=" rounded p-2"><span class="OCO">Catégorie </span><br>{{ user.category }}</p></div>
                    <div class="col-12 col-md-5 offset-md-1 rounded  float-left"><p class=" rounded p-2"><span class="OCO">Ville </span><br>{{ user.city }} {{ user.zipcode }}</p></div>
                    <div class="col-12 col-md-5 rounded  float-left"><p class=" rounded p-2"><span class="OCO">Inscrit le  </span><br>{{ user.creationDate|date("d/m/y") }}</p></div>
                    <div class="col-12 col-md-5 offset-md-1  rounded  float-left">

                        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                            <p class=" rounded p-2"><span class="OCO">Email </span><br>{{ user.email }}</p>
                        {%  elseif not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <p class=" rounded p-2"><span class="OCO">Email </span><br>connexion requise</p>
                        {% endif %}
                    </div>

                    <div class="col-12 col-md-5 rounded  float-left">
                        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                            <p class=" rounded p-2"><span class="OCO">Téléphone </span><br>{{ user.phone }}</p>
                        {%  elseif not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <p class=" rounded p-2"><span class="OCO">Téléphone </span><br>connexion requise</p>
                            {% endif %}
                    </div>

                    <div class="col-12 col-md-5 offset-md-1 rounded  float-left">
                        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                            <p class=" rounded p-2"><span class="OCO">Contacter ce customiseur </span><br><a href="{{ path('contactArtist', {'id': user.id}) }}">Message privé</a></p>
                        {%  elseif not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <p class=" rounded p-2"><span class="OCO">Contacter ce customiseur </span><br>connexion requise</p>
                        {% endif %}
                    </div>

                    <div class="col-12 col-md-5 rounded float-left"><span class="OCO"><p class="rounded p-2"><a href="{{ path('gallery', {'id': user.id}) }}">Voir la galerie</a></p></div>

                </div>

                <div class="col-12 col-md-4 mb-4 d-flex align-items-center float-none">
                    <img class="rounded-circle" id="profilimg" src="{{ asset('uploads/profilPictures/' ~ user.profilPicture ) | imagine_filter('my_thumb') }}" alt="photo d'utilisateur" class="card-img-top mb-2" alt="photo d'utilisateur">
                </div>
            </div>

            <div class="row">
                <div class="col-12 bg-white rounded border p-2 mb-4">
                    <p>{{ user.description }}</p>

                </div>
            </div>
        </div>
    </div>
    <script src="https://use.fontawesome.com/45e03a14ce.js"></script>

{% endblock %}

