{% extends 'base_front.html.twig' %}


{% block title %}Profil de {{ user.username }}{% endblock %}

{% block body %}

<div class="container-fluid artistbanner mb-5 d-flex align-items-center d-flex justify-content-center">
    <h1>Page de {{user.username }}</h1>
</div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 infoprofil"><span class="OCO"></span>

                <p class="col-12 offset-md-3 col-md-6 rounded border p-2"><span class="OCO">Nom </span><br>{{user.username }}</p>
                <p class="col-12 col-md-5 rounded border p-2 float-left"><span class="OCO">Catégorie </span><br>{{ user.category }}</p>
                <p class="col-12 col-md-5 offset-md-1 rounded border p-2 float-left"><span class="OCO">Ville </span><br>{{ user.city }} {{ user.zipcode }}</p>
                <p class="col-12 col-md-5 rounded border p-2 float-left"><span class="OCO">Inscrit le  </span><br>{{ user.creationDate|date("d/m/y") }}</p>
                <p class="col-12 col-md-5 offset-md-1  rounded border p-2 float-left"><span class="OCO">Email </span><br>{{ user.email }}</p>
                <p class="col-12 col-md-5  rounded border p-2 float-left"><span class="OCO">Téléphone </span><br>{{ user.phone }}</p>
                <p class="col-12 col-md-5 offset-md-1  rounded border p-2 float-left"><span class="OCO">Accès à la gallerie </span><br><a href="#">Voir la galerie</a></p>
                <p class="col-12 col-md-5 rounded border p-2 float-left"><span class="OCO">Note de l'artiste </span><br>système de note</p>
                <p class="col-12 col-md-5 offset-md-1 rounded border p-2 float-left"><span class="OCO">page de contact </span><br><a href="{{ path('contactArtist', {'id': user.id}) }}">contacter</a></p>

            </div>

            <div class="col-12 col-md-4 mb-4 d-flex align-items-center">
                <img class="rounded-circle" id="profilimg" src="{{ asset('uploads/profilPictures/' ~ user.profilPicture )}}" alt="photo d'utilisateur" class="card-img-top mb-2" alt="photo d'utilisateur">
            </div>
        </div>

        <div class="row">
            <div class="col-12 bg-white rounded border p-2 mb-4">
                <p>{{ user.description }}</p>

            </div>

            <a href="{{ path('custom_request_create') }}" class="btn btn-primary col-12 col-sm-5 col-md-3 mb-2">Faire une demande</a>
            <a href="#" class=" btn btn-primary col-12 col-sm-5 offset-sm-2 col-md-3 offset-md-6 mb-2">Rerour à la liste</a>
        </div>
    </div>

{% endblock %}

