{% extends 'base_front.html.twig' %}

{% block title %}OuiCustOm : Galerie customiseur{% endblock %}

{% block body %}
    {# banniere de l'artiste #}
    <div class="container-fluid artistbanner d-flex align-items-center d-flex justify-content-center">
        <h1 class="mt-3">Galerie de {{ artist.username }}</h1>
    </div>
    {# gallery #}
    <div class="container-fluid artist_gallery rounded bg-white  pt-3 pb-5 border border-dark">
        <div class="d-flex flex-wrap align-items-center">
            {# Si connecté en tant qu'artiste, affichera le bouton d'ajout d'image #}
            {% if is_granted('ROLE_ARTISTE') %}
                <div class=" col-12 mb-5 mt-4">
                    <a href="{{ path('addPicture')  }}" class="btn btn-success btn-lg " role="button" aria-disabled="true">Ajouter une image  <i class="fas fa-plus-circle"></i></a>
                    {# <a href="{{ path('addPicture')  }}"> <img src="{{ asset('img/add_img.png') | imagine_filter('my_thumb')  }}" alt="picto d'ajout d'image" class=" col-7 col-md-2 mb-3 mt-3"></a> #}
                </div>
            {% endif %}

            {# Affichage des image de l'artiste depuis la bdd#}
            {% for i in images %}
                <div class=" col-6 col-md-3 col-lg-2">
                    {# Peut importe qui est connecté ou non affichera le titre et l'image #}
                    <div class="titlecol-12 d-flex justify-content-center border-bottom border-dark">
                        
                        <h4 class="title_picture col-12 text-center " id="title_picture">{{ i.name}}</h4>
                        
                    </div>
                    {# Affichage de l'image dans une modal si click #}
                    <div class="modal fade " id="{{i.name}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-uppercase text-center" id="exampleModalLabel">{{i.name}}</h5>
                                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="col-12 ">
                                    <img src="{{ asset('uploads/gallery/' ~ i.link ) | imagine_filter('my_thumb') }}"  class="img_thumbnail" alt="image_responsive" >
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>                       
                                </div>
                            </div>
                        </div>
                    </div>
                    {# FIN modal #}

                    <img src="{{ asset('uploads/gallery/' ~ i.link ) | imagine_filter('my_thumb') }}" alt="image de la galerie de l'artiste" class=" col-12 mb-3 mt-3 img_gallery" data-toggle="modal" data-target="#{{i.name}}">         

                    
                    {# Si connecté en tant qu'artiste, affichera le bouton de suppression d'image #}
                    {% if is_granted('ROLE_ARTISTE') %}                    
                        <div> 
                            <a href="{{ path('remove_image_gallery', {id: i.id}) }}" ><i class="fas fa-trash-alt text-danger mb-5" >  Supprimer</i></a>
                        </div> 
                    {% endif %}
                </div>
            {% endfor %}
        </div> 
    </div>

    
{% endblock %}

