{% extends 'admin/base_admin.html.twig' %}

{% block title %}Demandes à valider{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Striped Rows
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Titre</th>
                                <th>Description</th>
                                <th>Catégorie</th>
                                <th>Language</th>
                                <th>Category</th>
                                <th>Synopsis</th>
                                <th>Duration</th>
                                <th>Poster</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for r in requests %}
                                <tr>
                                    <td>{{ r.id }}</td>
                                    <td>{{ r.title }}</td>
                                    <td>{{ r.description }}</td>
                                    <td>{{ r.category }}</td>
                                    <td>{{ r.language }}</td>
                                    <td>{{  r.category|join(', ')  }}</td>
                                    <td>{{ r.synopsis }}</td>
                                    <td>{{ r.duration }}</td>
                                    <td><img src="{{ r.photoPath }}" alt="" class="img-responsive"></td>
                                    <td><a href="{{ path('admin_edit_movie', {id: movie.id}) }}">Modifier</a></td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
{% endblock %}