{% extends 'admin/base_admin.html.twig' %}

{% block title %}Demandes à valider{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Striped Rows
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Titre</th>
                                <th>Description</th>
                                <th>Catégorie</th>
                                <th>Date demande</th>
                                <th>Demandeur</th>
                                <th>Status</th>
                                <th>Artisan</th>
                                <th>Photo</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for r in requests %}
                                <tr>
                                    <td>{{ r.id }}</td>
                                    <td>{{ r.title }}</td>
                                    <td>{{ r.description }}</td>
                                    <td>{{ r.category }}</td>
                                    <td>{{ r.creationDate }}</td>
                                    <td>{{  r.user  }}</td>
                                    {#to do : lien vers le profil du demandeur#}
                                    <td>{{ r.status }}</td>
                                    <td>{{ r.userAssignedTo }}</td>
                                    <td><img src="{{ r.photoPath }}" alt="photo de l'objet à customiser" class="img-responsive"></td>
                                    <td><a href="{{ path('admin_validate_request', {id: r.id}) }}">Valider</a></td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
{% endblock %}