{% extends 'base_front.html.twig' %}


{% block title %}Demande de {{ custom_request.user.username }}{% endblock %}

{% block body %}

    <div class="container-fluid artistbanner mb-5 d-flex align-items-center d-flex justify-content-center">
        <h1>Détail de la demande</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 bg-white rounded border">
                <h4>{{ custom_request.title }} </h4>
                <h4>Catégorie : {{ custom_request.category }}</h4>
                <p>{{ custom_request.description }}</p>
            </div>

            <div class="col-sm-10 offset-sm-1 offset-md-0 col-md-4">
                <img class="rounded border" src="{{ asset('uploads/customRequestPictures/' ~ custom_request.photoPath) }}" alt="photo de l'objet à customiser">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 offset-sm-1 col-md-4 offset-md-0 pt-2">
                <a class="btn btn-outline-dark" href="{{ path('contactUserCustomRequest', {'id': custom_request.id}) }}">Contacter le demandeur</a>
            </div>
            <div class="col-sm-10 offset-sm-1 col-md-4 offset-md-0 pt-2">
                <a class="btn btn-outline-dark" href="{{ path('custom_request_accept', {'id': custom_request.id}) }}">Se proposer</a>
            </div>
            {#<div class="col-sm-10 offset-sm-1 col-md-4 offset-md-0 pt-2">#}
                {#<a class="btn btn-outline-dark" href="{{ path('artistview') }}">Retour au profil</a>#}
            {#</div>#}
        </div>
    </div>

{% endblock %}