<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <!--Google fonts-->
        
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

        <!--Fontawsome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

        <!--Logo présent dans l'onglet de la page-->
        <link rel="shortcut icon" href="{{ asset('img/logo_onglet.png') }}">

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">

    {% endblock %}

</head>
<body>
<!-- HEADER FRONT -->
<header class="container-fluid p-0" id="header_front">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg p-0">
        <!-- logo -->
        <div id="bloc_logo">
            <a class="navbar-brand text-white p-0" href="{{ path('homePage') }}"><img src="{{ asset('img/logo.png') }}"></a>
        </div>
        <!-- Burger-menu -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars white" style="font-size:1.4em; color:White"></i></span>
        </button>

        <!-- Nav-links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link text-white text-center" id="nav-link-index" href="{{ path('homePage') }}"> <i class="fas fa-home"></i>  Accueil</a>
                </li>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link text-white text-center" id="nav-link-messages" href="{{ path('messagingPage') }}"> <i class="fas fa-comments"></i>  Messages</a>
                    </li>
                {% endif %}

                <!-- NAVBAR ARTISTE/ARTISANT -->

                {% if is_granted('ROLE_ARTISTE') %}

                    <li class="nav-item">
                        <a class="nav-link text-white text-center" id="nav-link-customrequests" href="{{ path('custom_request_list_new') }}"> <i class="fas fa-bullhorn"></i>  Demandes</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white text-center mon_compte" data-toggle="dropdown" href="#"  aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user"> </i> {{ app.user.username }}</a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="{{ path('artistview') }}"><i class="fas fa-cogs"></i>  Mon compte</a>
                            <a class="dropdown-item" href="{{ path('gallery', {'id': app.user.id}) }}"><i class="fas fa-images"></i>  Ma galerie </a>
                            <a class="dropdown-item" href="{{ path('custom_request_list_assigned') }}"><i class="fas far fa-handshake"></i>  Demandes acceptées </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('security_logout') }}"> <i class="fas fa-sign-out-alt"></i>  Logout</a>
                        </div>
                    </li>
                    <!-- NAVBAR USER LOG -->

                {% elseif not is_granted('ROLE_ARTISTE') and is_granted('IS_AUTHENTICATED_FULLY') and not is_granted('ROLE_ADMIN')%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white text-center mon_compte" data-toggle="dropdown" href="#"  aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user"> </i> {{ app.user.username }} </a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">

                            <a class="dropdown-item" href="{{ path('userview') }}"><i class="fas fa-cogs"></i>  Mon compte</a>
                            <a class="dropdown-item" href="{{ path('custom_request_list') }}"><i class="fas far fa-handshake"></i>  Mes demandes</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('security_logout') }}"> <i class="fas fa-sign-out-alt"></i>  Se déconnecter</a>
                        </div>
                    </li>
                {% endif %}

                <!-- NAVBAR ADMIN -->

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white text-center " data-toggle="dropdown" href="#"  aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user"> </i> ADMIN </a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="{{ path('default_admin') }}"><i class="fas fa-cogs"></i>  Tableau de bord </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('security_logout') }}"> <i class="fas fa-sign-out-alt"></i>  Se déconnecter</a>
                        </div>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-white text-center" id="nav-link-contact" href="{{ path('contactPage') }}"> <i class="fas fa-envelope"></i>  Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white text-center mr-3 " id="nav-link-help" href="{{ path('helpPage') }}"> <i class="fas fa-question-circle"></i>  Aide</a>
                </li>

                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link text-white text-center mr-3" id="nav-link-login" href="{{ path('security_login') }}"> <i class="fas fa-sign-in-alt"></i>  Connexion</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
</header>

<!--MAIN-->
<main class="bloc_page">
    {% block body %}

    {% endblock %}
</main>

<!--FOOTER FRONT-->
<footer class="container-fluid card-footer text-muted" id="footer_front">
    <!--Mapping du site-->
    <div class="text-white row" id="site_mapping">

        <div class="col-4">
            <ul>
                <h3 class="text-center"><span class="OCO">OuiCustOm.com</span></h3>
                <li><a class="text-white" href="{{ path('homePage') }}">Accueil</a></li>
                <li><a class="text-white" href="{{ path('security_login') }}">Connexion</a></li>
                <li><a class="text-white" href="{{ path('contactPage') }}">Contact</a></li>
                <li><a class="text-white" href="{{ path('helpPage') }}">Aide</a></li>
            </ul>
        </div>

        <!--Copyright-->
        <div class="col-4" id="copyright">
            <p class="text-white"><span class="OCO">OuiCustOm © 2018</span></p>
        </div>
        <!--Logo des réseaux sociaux-->

        <div class="social col-4">
            <span><a href="#"><i class="fab fa-facebook-f white" style="font-size:1.8em; color:White"></a></i></span>
            <span><a href="#"><i class="fab fa-twitter white" style="font-size:1.8em; color:White"></i></a></span>
            <span><a href="#"><i class="fab fa-pinterest-p white" style="font-size:1.8em; color:White"></a></i></span>
            <span><a href="#"><i class="fab fa-instagram white" style="font-size:1.8em; color:White"></a></i></span>
        </div>
    </div>
</footer>

{% block javascripts %}

    <!-- Bootstrap core JavaScript -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.js"></script>
   
{% endblock %}

</body>
</html>
